<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
  <link rel="icon" type="image/png" href="{{ url_for('static', filename='img/logo_navegador.png') }}">
  <title>Vida Mais - Login</title>
</head>

<body>
  <div class="visor">
    <div class="cabecalho">
      <div class="logo">
        <img id="logo" src="{{ url_for('static', filename='img/logo.png') }}" alt="Logo da clínica Vida Mais.">
      </div>
      <h1 id="titulo">Bem-vindo à Central de Monitoramento</h1>
    </div>
    <div class="login">
      <div id="login">
        <form action="/login" method="POST">
          <div class="informacoes">
            <div class="input">
              <input id="input" name="usuario" placeholder="Usuário">
            </div>
            <div class="input">
              <input id="input" name="senha" type="password" placeholder="Senha" required>
            </div>
            <div class="button">
              <button id="button" type="submit">Login</button>
            </div>
          </div>
        </form>
        <p>Não tem conta? <a href="/cadastro">Cadastre-se</a></p>
      </div>
    </div>
  </div>
</body>
</html>